{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% form_theme form_actu 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <br>
    <div id="text">
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <h1>Actualités</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" >
                <div class="col-4" id="colonne-1"></div>
                <div class="col 4" id="colonne-1">
                    <br>
                    <h3>ajouter :</h3>
                </div>
            </div>
            <div class="row" >
                <div class="col-4" id="colonne-1"></div>
                <div class="col-4" id="colonne-1" >
                    {{form_start(form_actu)}}
                    {{form_row(form_actu.nomImage, {'attr' : {'placeholder' : "Nom de l'image"}})}}
                    {{form_row(form_actu.Titre, {'attr' : {'placeholder' : "Titre a afficher"}})}}
                    {{form_row(form_actu.Description, {'attr' : {'placeholder' : "Description"}})}}
                    <button  type="submit" class="btn" id='btn'>
                        Enregistrer
                    </button>
                    {{form_end(form_actu)}}
                </div>
            </div>
        </div> 
    </div>
{% endblock %}