{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<br>
<div class="container">
    
    
    <div class="col-lg-12">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-center" colspan="6"><h1 id='titre'>Contact</h1></th>
                        </tr>
                    </thead>
                <tbody>
                    <tr class="align-middle text-center">
                        <th class="text-nowrap" id="slide">Nom complet</th>
                        <th class="text-nowrap" id="slide">Email</th>
                        <th class="text-nowrap" id="slide">Sujet</th>
                        <th class="text-nowrap" id="slide">Message</th>
                        <th class="text-nowrap" id="slide">Status</th>
                        <th class="text-nowrap" id="slide">Action</th>
                    </tr>

                    {% for contact in showcontact %}

                    <tr class="align-middle text-center">
                        <td class="text-nowrap" id="slide">{{ contact.fullName }}</td>
                        <td class="text-nowrap" id="slide">{{ contact.email }}</td>
                        <td class="text-nowrap" id="slide">{{ contact.subject }}</td>
                        <td class="text-nowrap" id="slide">{{ contact.message }}</td>
                        <td class="text-nowrap" id="slide">{{ contact.etat }}</td>
                        <td class="text-nowrap">

                            <a id="text" href="{{ path('admin_contact.edit', {id: contact.id}) }}">Modifier</a>
                            
                            <form method="post" action="{{ path('admin_contact.delete', {id: contact.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le contact : \'{{ contact.email }}\' ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">

                                <button class="btn btn-danger"> supprimer
                                    <span class="bi bi-trash-fill"></span>
                                </button>

                            </form><span class="badge text-bg-danger"></span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </div>
        </div>
    </div> 
</div>
{% endblock %}